USE [MFL]
GO
/****** Object:  Table [dbo].[Draft6_15]    Script Date: 6/15/2018 11:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Draft6_15](
	[Draft Results For 1R DynastyPick] [float] NULL,
	[Ovr] [float] NULL,
	[Franchise] [nvarchar](255) NULL,
	[Selection] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Draft6_15] ([Draft Results For 1R DynastyPick], [Ovr], [Franchise], [Selection]) VALUES (1.01, 1, N'Slumpbusters', N'Beckham, Odell NYG WR')
GO
INSERT [dbo].[Draft6_15] ([Draft Results For 1R DynastyPick], [Ovr], [Franchise], [Selection]) VALUES (1.02, 2, N'TK Dynasty', N'Hopkins, DeAndre HOU WR')
GO
INSERT [dbo].[Draft6_15] ([Draft Results For 1R DynastyPick], [Ovr], [Franchise], [Selection]) VALUES (1.03, 3, N'Cecil Shorts', N'Beckham, Odell NYG WR')
GO
